<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navbar}">
</nav>

<!-- Заглавие на страницата -->
<h1>Якета</h1>

<!-- Секция с продукти (якета) -->
<div class="product-list">
  <!-- Тук ще показваме якета -->
  <div th:each="product : ${products}">
    <div class="product">
      <!-- Изображение на продукта -->
      <img th:src="@{${product.photo}}" alt="Снимка на ${product.name}" width="200" height="auto"/>

      <h3 th:text="${product.name}">Име на яке</h3>
      <p th:text="${product.description}">Описание на якето</p>
      <p th:text="${product.price}">Цена: </p>

      <!-- Връзка към продукта -->
      <a th:href="@{/product/{id}(id=${product.id})}">Виж продукта</a>
    </div>
  </div>
</div>

</body>
</html>